*{
    margin: 0;
    box-sizing: border-box;
    
}

:root{
    --blue:#387ADF;
    --orange:#FBA834;
    --navyblue:#333a73;
    --lightblue:#50C4ED;
    --hex:#f0f2f5;
    --white:#fff;
    --red:#FF5733 ;
    
}

